<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>客户端</title>
  <link href="http://192.168.1.220:8080/css/reset.css" rel="stylesheet" type="text/css" />
   <link href="http://192.168.1.220:8080/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>欢迎加入房间 {{roomID}}</h1>
<span class="btn">点击或者摇一摇</span>

<script type="text/javascript" src="http://192.168.1.220:8080/js/jquery-1.7.1.min.js"></script>
<script src="http://192.168.1.220:8080/socket.io/socket.io.js"></script>
<script type="text/javascript" src="http://192.168.1.220:8080/js/shake.js"></script>
<script src="http://192.168.1.220:8080/js/client.js"></script>
</body>
</html>