body{position:absolute;height:100%;}
.btn{position:absolute;left:50%;top:50%;margin-left:-30%;margin-top:-10%;width:60%;padding:5% 0;font-size:1.6em;text-align:center; vertical-align: middle;
	color:#fff;border-radius:6px; background-color: #07defe;}